.dropdown {
	position: relative;
	width: 18rem;
}

.trigger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 1rem;
	cursor: pointer;
	background-color: #ffffff1a;
	backdrop-filter: blur(10px);
	border-radius: 0.5rem;
}

.left {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.list {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	margin-top: 0.25rem;
	background-color: #ffffff1a;
	backdrop-filter: blur(15px);
	border: 0.5px solid #474747;
}

.item {
	padding: 0.5rem 1rem;
	cursor: pointer;
	background-color: #ffffff1a;
	backdrop-filter: blur(10px);

	&:hover {
		background: #8383831a;
	}
}

.flag {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
	object-fit: cover;
	border-radius: 999px;
}
