.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 3.5rem;
	gap: 0.5rem;
	padding: 17px 0;
	border-radius: 12px;
	border: none;
	background: linear-gradient(90deg, #ff8d6b 0%, #ffba47 100%);
	color: white;
	font-size: 1rem;
	font-family: 'SF Pro', system-ui, sans-serif;
	font-weight: 590;
	cursor: pointer;
	transition:
		background 0.3s ease,
		transform 0.2s ease;

	&:hover {
		background: linear-gradient(90deg, #ff8d6b 30%, #ffba47 70%);
		transform: translateY(-2px);
	}
}

.uppercase {
	text-transform: uppercase;
}

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
