@font-face {
	font-family: 'SF Pro';
	src: url('../assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../assets/fonts/SF-Pro-Display-Semibold.woff2') format('woff2');
	font-weight: 590;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../assets/fonts/SF-Pro-Display-Heavy.woff2') format('woff2');
	font-weight: 860;
	font-style: normal;
	font-display: swap;
}
