@use '../../styles/mixins' as m;

.footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 2rem;
	padding: 3.75rem 1rem;
	background: linear-gradient(90deg, #06225d 0%, #02011f 100%);
	justify-items: center;

	@include m.media(xl) {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: auto;
		gap: 2rem;
		justify-items: start;

		.maskot {
			order: 1;
		}
		.download {
			order: 2;
		}
		.adultBlock {
			order: 3;
		}
		.secondBlock {
			order: 4;
			display: flex;
			flex-direction: column;
			gap: 6.75rem;

			@include m.media(xl) {
				margin-top: 2.5rem;
			}
		}
	}
}

.maskot {
	display: none;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	@include m.media(xl) {
		display: block;
		max-width: 15rem;
		max-height: 15rem;
	}

	@include m.media(xxl) {
		width: 18rem;
		height: 18rem;
	}
}

.download {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 1rem;
	border: 1px dashed red;
	gap: 1.5rem;

	.textBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& > h2 {
			margin-bottom: 0.375rem;
		}

		& > button {
			margin-top: 1.125rem;
		}
	}
}

.socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	margin-top: 3.75rem;

	@include m.media(xl) {
		margin-top: 0;
		align-items: flex-end;
	}

	& > p {
		margin-bottom: 0.75rem;
	}

	.iconsList {
		display: flex;
		gap: 0.25rem;
	}
}

.adultBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	margin-top: 3.25rem;
	margin-bottom: 2rem;

	@include m.media(md) {
		flex-direction: row;
	}

	@include m.media(xl) {
		flex-direction: column;
		justify-content: center;
	}

	> * {
		width: 18rem;

		@include m.media(xl) {
			width: 22rem;
		}
	}

	.age {
		text-align: center;
		svg {
			margin-bottom: 0.75rem;
		}

		@include m.media(xl) {
			display: flex;
			flex-direction: row;
			gap: 0.75rem;
			align-items: center;
			text-align: start;
		}
	}

	.certified {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		img {
			margin-bottom: 0.75rem;
		}

		@include m.media(xl) {
			display: flex;
			flex-direction: row;
			gap: 0.75rem;
			align-items: center;
			text-align: start;
		}
	}
}
